@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var message = "This page shows the use of Razor";
}

<p>@message</p>

@{
    List<string> names = new List<string>() { "f", "s", "th", "f" };
}
<ul>@{
        foreach(var i in names)
        {
            <li>@i</li>
        }
    }
</ul>

@{
    bool logged = true;
    string loggedMessage = "Welcome!";
    string notLoggedMessgae = "Login first";
}

@if (logged)
{
    <p>@loggedMessage</p>
}
else
{
    <p>@notLoggedMessgae</p>
}
