@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="flex justify-content-center"> 

<p> Your are not authorized to access this page. </p>

</div>