@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="item"  class="text-white text-decoration-none font-monospace my-5 underline-hover "><h3>Go to Items Page</h3></a>
</div>
